.popup{
    position: absolute;
    top: 40%;
    left: 40%;
    width: 300px;
    height: 135px;
    background-color: rgba(255, 255, 255, 0.929);
}
.popup-inner{
    position: absolute;
    top: 0px;
    right: 0px;
}
.myClose{
    position: absolute;
    right: 0%;
}